.dashboard::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/backgroundImage.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -2;
}

.dashboard {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: white;
}

.dashboard::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: -1;
}


.actionButton {
    width: 250px;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #a68b5b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.actionButton:hover {
    background-color: #8c6239;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .actionButton {
        width: 200px;
        font-size: 16px;
    }
}


.dashboard {
    padding: 2rem;
    background-color: #f9f9f9;
    min-height: 80vh;
  }
  
  .heading {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .actionButton {
    background-color: #a68b5b;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .actionButton:hover {
    background-color: #8c6239;
  }
  
  .bookingList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .bookingCard {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    max-width: 300px;
  }
  
  .bookingCard h3 {
    margin: 0.5rem 0;
    color: #333;
  }
  
  .bookingCard p {
    margin: 0.2rem 0;
    color: #666;
  }
  
  .actionButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
  }
  
  .editButton {
    background-color: #764412;
    color: white;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cancelButton {
    background-color: #4e361e;
    color: white;
    padding: 0.3rem 0.8rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .editButton:hover {
    background-color: #8c6239;
  }
  
  .cancelButton:hover {
    background-color: #8c6239;
  }