.roomContainer {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    color: white;
}

.roomContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/backgroundImage.png');
    background-size: cover;
    background-position: center;
    filter: blur(2px);
    z-index: -2;
}

.roomContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
    z-index: -1;
}

.title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.subTitle {
    font-size: 1.5rem;
    max-width: 800px;
    text-align: center;
    margin-bottom: 2rem;
}

.image {
    width: 50px;
    height: auto;
    margin-top: 1rem;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}


.roomsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    padding: 40px;
    background-color: #f8f8f8;
}

.container {
    width: 280px;
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.roomImage {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.content {
    padding: 16px;
}

.roomTitle {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    color: #333;
}

.roomPrice {
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-top: 4px;
}

.roomAvailability {
    font-size: 14px;
    color: #777;
    margin-top: 2px;
}

.roomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.roomIcons {
    display: flex;
    gap: 20px;
    color: #777;
}

.roomButton {
    background-color: #9C7B50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.roomButton:hover {
    background-color: #8b6a40;
}
